<template>
  <div class="portal-wrap">
    <el-empty :image="bgImage" :image-size="600" :description="description" />
  </div>
</template>

<script>
import { getMainProps } from "@/micro-frontends";

/**
 * 子项目入口
 */
export default {
  name: "Portal",
  data() {
    return {
      bgImage: require("@/assets/portal/bg.png"),
      description: "",
    };
  },
  created() {
    this.checkMainApp();
  },
  methods: {
    // 检测是否从基座加载
    checkMainApp() {
      let desc;
      const props = getMainProps();
      if (props) {
        const { microApp } = props;
        const appInfo = microApp.getCurrentAppInfo();
        desc = `【${appInfo.name}】子系统加载成功！`;
      } else {
        desc = `【${process.env.VUE_APP_NAME}】：未检测到主项目，请在主项目中运行！`;
        this.$message.warning(desc);
      }
      this.description = desc;
    },
  },
};
</script>

<style lang="scss" scoped>
.portal-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>